// --------------------------------------------------
// Variables
// --------------------------------------------------

// Fonts
$fontTitle: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$fontTitleSerif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$fontText: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$fontTextLight: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

// Accents Colors
$colorAccent1: #ED0000;
$colorAccent2: #352042;
$colorAccent3: #352042;
$colorAccent4: #352042;

$colorTextDark: #53415E;
$colorTextLight: rgba(255, 255, 255, .70);

// Blocks and Text
$dark: #262626;
$grey: #EBEBEB;
$light: #A0ACB9;
$lighter: #E5EAEF;
$alternateWhite: #f6f8fc;
$white : #fff;
