<section class="blog-cta">
  <h3 class="blog-cta-title">{{ block.heading }}</h3>
  <a class="site-btn" href="{{ block.button.url }}" target="{{  block.button.target }}">{{ block.button.text }}</a>
</section>