<section class="blog-intro">
  <h2 class="blog-intro-title">{{ block.heading }}</h2>
  {% if block.subtitle is not empty %}<p class="blog-intro-subtitle">{{ block.subtitle }}</p>{% endif %}
</section>