{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set pageClass = 'app-showsfeed' %}

{% set activeFilter = craft.app.request.getParam('filter') %}

{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("_pages/blog/index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}

  {% cache globally using key 'blog-listing' if not craft.request.isAjax() %}

    {% set articles = craft.entries.section('blog').limit(6) %}
    {% paginate articles as pageInfo, articles %}

    <section class="blog-listing-wrapper">
      <section class="blog-listing-container">

        <h1 class="big-title"><span class="white-bg">{{ 'Most recent articles'|t }}</span></h1>

        <section class="blog-listing" data-ajax-paginate="news">
          {% for article in articles %}
            {% include '_partials/cards/blog' %}
          {% endfor %}
        </section>

        <div class="cards-pagination" data-ajax-pagination="news">
          {% if pageInfo.totalPages > 1 %}
            {% include "_partials/cards/pagination" %}
          {% endif %}
        </div>
      </section>
    </section>

  {% endcache %}

{% endblock %}

{% block _inline_js %}
{% endblock %}
