{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entry = craft.entries.section("pageNotFound").limit(1).one() %}

{% extends "_layouts/_layout.twig" %}

{% block content %}

  <style type="text/css">
    .error-content {
      height: calc(100vh - 265px);
      min-height: 375px;
      position: relative;
      background-image: url('https://images.pexels.com/photos/1125272/pexels-photo-1125272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .error-content:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: rgba(51,62,88,.7);
    }
    .error-content .data {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-align: center;
    }
    .error-content .data .title2 {
      margin-bottom: 15px;
      color: #fff;
      font-family: essonnes-display,sans-serif;
      font-size: 52px;


    }
    .error-content .data .main-text,
    .error-content .data a {
      letter-spacing: .05em;
      font-weight: 500;
      color: #fff;
      margin-top: 10px;


    }
    .error-content .data a {
      border-bottom: 1px solid #fff;
      display: inline-block;
      cursor: pointer;
    }

    @media only screen and (max-width: 599px) {
      .error-content .data .title2 {
        font-size: 32px;
      }

      .error-content .data .main-text,
      .error-content .data a {
        font-size: 14px;
      }

      .error-content .data {
        width: 100%;
        padding: 20px;
      }
    }
  </style>

  <section class="error-content" {% if entry.image404.one() %} style="background-image: url({{ entry.image404.one.url() }});" {% endif %}
   >
    <div class="data">
      <i class="icon-avion"></i>
      <h1 class="title2">{{ entry.title404 ?  entry.title404 : 'OOPS!'}}</h1>
      <p class="main-text">{{ entry.text404 ?  entry.text404 : 'It\'s looking like you may have taken a wrong turn. Don\'t worry, it happens to the best of us.' }}</p>
      <a href="/">{{ entry.button404 ?  entry.button404 : 'Take me back to the homepage' }}</a>
    </div>
  </section>
{% endblock %}

{% block _inline_js %}
{% endblock %}
