<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Contact from {{ siteName }} website</title>
<style type="text/css" media="all">
img { display:block; }
.ReadMsgBody { width:100%; }
.ExternalClass { width:100%; }
div, p, a, li, td { -webkit-text-size-adjust:none; }
.symbolfix img { width:10px !important; height:10px !important; display:inline !important; }
</style>
</head>
<body bgcolor="#FFFFFF" style="background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #3b3b3b;">
<h3>Contact from {{ siteName }} website</h3>
<p>{{ body is defined ? body }}</p>
</body>
</html>
